body {
    font-size: 18px;
}

.first-title {
    text-align: center;
    font-size: 70px;
}

.other-tmj-heading {
    font-weight: 600;
    font-size: 29px;
}

.font-fat-weight {
    font-weight: 600;
}

.producing-nice-size {
    font-size: 29px;
}

.producing-padding {
    padding: 40px 60px;
}

.oral-appropriet-colour {
    background-color: #f7f7f7;
}


@media screen and (max-width: 768px) {

    .pay-responsive-size {
        font-size: 30px;
    }

    .first-title {
        font-size: 36px;
    }

    .producing-nice-size {
        font-size: 36px;
    }

}