body {
    font-size: 18px;
}

.blog2-back-img {
    background-image: url(./../../images/learnMore2.jpg);
    background-size: cover;
    background-position: center;
}

.teeth-scaling-image{
    height: 467px;
    width: auto;
    margin-bottom: 50px;
}

.coloring-p{
    color: #33ff00;
}

.small-topics{
    font-size: 26px;
    font-weight: 500;
}

.coloring-h3-topics{
    font-size: 22px;
    color: #33ff00;
    font-weight: 500;
}

.teeth-scaling-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: start;
    padding: 80px;
    align-items: center;
}

@media screen and (max-width: 768px) {

.blog2-back-img {
    background-image: none;
}

.teeth-scaling-image {
    height: auto;
    max-width: 100%;
}

.teeth-scaling-section {
    padding: 20px;
}
    
}