body {
  font-size: 18px;
}

.we-consider-sect {
  padding: 80px;
  height: auto;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consider-title {
  font-size: 54px;
  font-weight: 600;
}

.we-consider-small-section {
  background-color: #f7f7f7;
  padding: 40px 20px 40px 20px;
}

.icon-span {
  height: 30px;
  width: 30px;
  border: 2px solid #33ff00;
  padding: 18px;
  border-radius: 9999em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Oral-question-section {
  padding: 120px 80px 120px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.oral-hygiene-row {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
}

.oral-hygiene-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.oral-hygiene-box-title {
  font-weight: 500;
  font-size: 22px;
}

@media screen and (max-width: 768px) {

  .we-consider-sect {
    padding: 20px;
  }

  .consider-title {
    font-size: 36px;
  }

  .oral-hygiene-row {
    flex-direction: column;
  }

  .Oral-question-section {
    padding: 20px;
    padding-block: 80px;
  }

}