body {
    font-size: 18px;
}

.new-patient-back-img {
    background-image: url(./../images/sittingArea.JPG);
    background-size: cover;
}

.new-patients-buttons {
    flex-direction: column;
}

.New-patient-section {
    height: auto;
    padding-block: 70px;
    padding-inline: 50px;
    gap: 50px;
}

.patient-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.new-patient-heading {
    font-size: 72px;
    font-weight: 300;
}

.divider-about-us {
    height: 3px;
    width: 20%;
    opacity: 1;
    margin-bottom: 50px;
}

.bg-color-primary {
    background-color: #5dff34;
}

.first-title {
    text-align: center;
}

.first-visit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px;
}

.first-icon {
    color: #5dff34;
    font-size: 40px;
}

.first-words {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0px;
}

.first-box {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
}

.first-row {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.bring-section {
    height: auto;
    background-image: url(./../images/whiteTeeth.jpg);
    display: flex;
    padding-block: 70px;
    justify-content: center;
    align-items: center;
}

.bring-icon {
    font-size: 33px;
}

.bring-text {
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.text-div {
    display: flex;
    gap: 15px;
}

.payment-info-section {
    height: auto;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pay-div {
    background-color: #33ff00;
    padding-inline: 40px;
    padding-block: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.insurance-button {
    width: 100px;
    text-align: center;
}

.width-medium {
    width: 250px;
}

.text-align-center {
    text-align: center;
}

.in-house-sect {
    background-color: #f6f6f6;
    height: auto;
    padding-block: 70px;
    padding-inline: 110px;
}

.inhouse-info-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in-house-title {
    font-size: 54px;
    font-weight: 600;
}

.in-house-subtitle {
    font-size: 29px;
    font-weight: 600;
}

.horizontal-divider {
    background-color: #56ee30;
    height: 3px;
    width: 80px;
    margin-bottom: 30px;
}

.in-house-point-div {
    gap: 30px;
    height: auto;
    display: flex;
}

.in-house-box {
    width: 50%;
    height: auto;
    background-color: #33ff00;
    margin-top: 20px;
    padding: 30px;
}

.in-house-box-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.inhouse-words {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.cherry-section {
    height: auto;
    padding-block: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 60px;
}

.cherry-title {
    font-size: 54px;
    font-weight: 600;
}

.cherry-text {
    text-align: center;
}

.common-section {
    height: auto;
    padding-block: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.why-heading {
    font-size: 72px;
    font-weight: 300;
}

.common-title {
    text-align: center;
}

.card-row {
    width: 100%;
    display: flex;
    padding-inline: 20px;
}

.common-card,
.beautiful-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px;
    text-align: center;
}

.beautiful-card {
    background-color: black;
    color: white;
    margin-inline: 10px;
    width: 25%;
}

.icon-span {
    border: 2px solid #5dff34;
    height: 60px;
    width: 60px;
    border-radius: 999em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.why-icon {
    color: #5dff34;
}

.icon-text {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 0px;
}

.beautiful-smile-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vip-height {
    min-height: 200px;
}

@media screen and (max-width: 768px) {
    .new-patient-heading {
        font-size: 36px;
    }

    .New-patient-section {
        padding-block: 30px;
        padding-inline: 20px;
    }

    .first-visit-section {
        padding: 20px;
    }

    .first-row {
        gap: 0px;
    }

    .bring-section {
        flex-direction: column;
        padding-inline: 50px;
    }

    .payment-info-section {
        padding: 20px;
    }

    .pay-div {
        width: 100%;
    }

    .in-house-sect {
        padding-block: 40px;
        padding-inline: 20px;
    }

    .in-house-point-div {
        flex-direction: column;
    }

    .in-house-box {
        width: 100%;
    }

    .cherry-section {
        padding-block: 40px;
        margin-inline: 20px;
    }

    .beautiful-card {
        margin-inline: 0px;
        width: 100%;
    }

    .card-row {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        display: flex;
        padding-inline: 20px;
    }

    .why-heading {
        font-size: 36px;
    }

    .beautiful-smile-section {
        padding-block: 30px;
    }

    .cherry-title {
        font-size: 36px;
    }

    .in-house-title {
        font-size: 36px;
    }
}